.container {
  //   background-color: #f4f5f5;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    font-size: 24px;
    color: white;
  }
}
